body{
    background-color: #000;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

body .grid-item{
    color: #fff;
    font-size: 25px;
}

.titulo{
    color: #fff;
    font-size: 20px;
}

.subtitulo{
    color: #3598db;
    font-size: 16px;
}

.secciones{
    color: #fff;
    font-size: 16px;
}

.image{
    width: 20%;
}

/* GRID */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

/* BOTONES */

.btn-primario{
    background-color: #3598db;
    color: #fff;
    font-size: 15px;
}

.btn-primario i{
    font-size: 18px;
}