body{
    background-color: #000;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

a, a:visited, a:focus, a:hover{
    text-decoration: none;
}

a:hover{
    color: #3598db;
    background-color: #fff;
}

body .grid-item{
    color: #fff;
    font-size: 40px;
}

.titulo{
    color: #fff;
    font-size: 35px;
}

.subtitulo{
    color: #3598db;
    font-size: 25px;
}

.secciones{
    color: #fff;
    font-size: 25px;
}

.image{
    width: 15%;
}

/* GRID */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 90%;
}

/* BOTONES */

.btn-primario{
    background-color: #3598db;
    color: #fff;
    font-size: 18px;
}

.btn-primario i{
    font-size: 22px;
}

.btn{
    white-space: normal;
}

.grid-item:hover{
    color: #3598db;
    background-color: #000;
}

/* MOVILES */
@media screen and (max-width:525px) {
    body{
        background-color: #000;
        padding: 0px;
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
    }
    
    a, a:visited, a:focus, a:hover{
        text-decoration: none;
    }
    
    a:hover{
        color: #3598db;
        background-color: #fff;
    }
    
    body .grid-item{
        color: #fff;
        font-size: 25px;
    }
    
    .titulo{
        color: #fff;
        font-size: 20px;
    }
    
    .subtitulo{
        color: #3598db;
        font-size: 16px;
    }
    
    .secciones{
        color: #fff;
        font-size: 18px;
    }
    
    .image{
        width: 20%;
    }
    
    /* GRID */
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        width: 90%;
    }
    
    /* BOTONES */
    
    .btn-primario{
        background-color: #3598db;
        color: #fff;
    }

    .btn-primario i{
        font-size: 18px;
    }
    
    .btn{
        white-space: normal;
    }
}